.hero {
	/* position: fixed; */
	position: sticky;
	top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
	align-self: start;
}

.name {
    margin: 0;
    font-size: 3rem;
	color: pink;
}
.title {
    margin: 0;
}
.intro {
    margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-item {
    margin-top: 0.5rem;
	font-size: 1.5rem;
	display: block;
}
.nav-item:hover {
	animation: slide-right 0.5s ease forwards;
}
.socials {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
}

.socials > a:hover {
    /* color: #37ff9f; */
	color: pink;
}

.on-section {
	background-color: aqua;
}

@keyframes slide-right {
	0% {
		background-color: #242424;
		color: #ffffff;
		font-weight: 400;
		padding-left: 0%;
	}
	100% {
		background-color: pink;
		color: #000000;
		font-weight: 700;
		padding-left: 70%;
	}
}
