.hero {
	position: fixed;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.name {
    margin: 0;
    font-size: 3rem;
}
.title {
    margin: 0;
}
.intro {
    margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-item {
    margin-top: 0.5rem;
	display: block;
}
.nav-item:hover {
	background-color: #37ff9f;
	color: #000000;
	font-weight: 700;
	animation: slide-right 0.5s ease forwards;
}
.socials {
	display: flex;
	gap: 1rem;
}

.socials > a:hover {
    color: #37ff9f;
    transition: color .2s ease-in;
}

@keyframes slide-right {
	0% {
		padding-left: 0%;
	}
	100% {
		padding-left: 70%;
	}
}
