@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
body {
	background-color: #242424;
	/* cursor: none; */
}

.project-card:not(.hovered) {
	opacity: 0.6;
	transition: 0.3s ease-in-out;
}

/* .cursor {
	width: 3rem;
	height: 3rem;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: -1;
} */
